.new-post {
	width: 520px;
}

.form-actions {
	float: right;

	.action {
		margin-right: 4px;

		&:last-child {
			margin-right: 0px;
		}
	}
}

.form-group {
	position: relative;

	.error-message {
		color: #a94442;
		position: absolute;
		right: 8px;
		margin: 0px;
		bottom: 0px;
	}
}

.post-view {
	width: 40%;

	.madeit-comments-list {
		clear: both;
	}

	.comment-item {
		display: relative;

		.comment-edit {
			width: 100%
		}

		.comment-actions {
			bottom: 0;
			right: 5px;
		}
	}
}