.madeit-posts-list {
	margin: 15px;

	.madeit-post-row {
		display: inline-flex;
		width: 100%;

		.vote-section {
			text-align: center;
			margin-right: 10px;

			a {
				padding: 0px 4px 0px 4px;
			}
		}

		.post-title {
			font-size: 2.5em;
		}

		.post-actions {
			position: absolute;
			bottom: 0px;
			left: 50px;
		}
	}
}